.page-title {
  margin-top: 0;
}

.main-page-title {
  margin-bottom: 3rem;
}

@media screen and (min-width: 750px) {
  .main-page-title {
    margin-bottom: 4rem;
    font-family: var(--font-body-family) !important;
    font-style: var(--font-body-style) !important;
    font-weight: 900 !important;
    font-size: 3.6rem !important;
    letter-spacing: 0.18em !important;
    text-transform: uppercase !important;
    line-height: 1.1 !important;
  }
}

.page-placeholder-wrapper {
  display: flex;
  justify-content: center;
}

.page-placeholder {
  width: 52.5rem;
  height: 52.5rem;
}
