.related-products {
  display: block;
}

.related-products__heading {
  margin: 0 0 3rem;
}

@media screen and (min-width: 990px) {
  .related-products {
    margin-top: clamp(5rem, 6vw, 8rem);
  }
}
